<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Notify After % Price Rise</string>
			<key>Key</key>
			<string>notification.priceChange</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<real>0.01</real>
				<real>0.02</real>
				<real>0.05</real>
				<real>0.1</real>
				<real>0.15</real>
				<real>0.2</real>
				<integer>100</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>All</string>
				<string>1%</string>
				<string>2%</string>
				<string>5%</string>
				<string>10%</string>
				<string>15%</string>
				<string>20%</string>
				<string>Never</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Product to Watch</string>
			<key>Key</key>
			<string>notification.product</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Titles</key>
			<array>
				<string>Unleaded (91)</string>
				<string>Premium Unleaded (95)</string>
				<string>Ultra-premium Unleaded (98)</string>
				<string>LPG</string>
				<string>Diesel</string>
				<string>Brand Diesel</string>
				<string>B20 Diesel (20% Biodiesel)</string>
				<string>E10 (10% Ethenol Petrol)</string>
				<string>P100 (10% Ethenol + Ultra-premium)</string>
				<string>E85 (85% Ethenol Petrol)</string>
			</array>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>6</integer>
				<integer>5</integer>
				<integer>4</integer>
				<integer>11</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Region to Watch</string>
			<key>Key</key>
			<string>notification.region</string>
			<key>DefaultValue</key>
			<integer>-1</integer>
			<key>Titles</key>
			<array>
				<string>Metropolitan Area</string>
				<string>Metro : North of River</string>
				<string>Metro : South of River</string>
				<string>Metro : East/Hills</string>
				<string>Albany</string>
				<string>Augusta / Margaret River</string>
				<string>Bridgetown / Greenbushes</string>
				<string>Boulder</string>
				<string>Broome</string>
				<string>Bunbury</string>
				<string>Busselton (Townsite)</string>
				<string>Busselton (Shire)</string>
				<string>Capel</string>
				<string>Carnarvon</string>
				<string>Cataby</string>
				<string>Collie</string>
				<string>Coolgardie</string>
				<string>Cunderdin</string>
				<string>Donnybrook / Balingup</string>
				<string>Dalwallinu</string>
				<string>Dampier</string>
				<string>Dardanup</string>
				<string>Denmark</string>
				<string>Derby</string>
				<string>Dongara</string>
				<string>Esperance</string>
				<string>Exmouth</string>
				<string>Fitzroy Crossing</string>
				<string>Geraldton</string>
				<string>Greenough</string>
				<string>Harvey</string>
				<string>Jurien</string>
				<string>Kalgoorlie</string>
				<string>Kambalda</string>
				<string>Karratha</string>
				<string>Kellerberrin</string>
				<string>Kojonup</string>
				<string>Kununurra</string>
				<string>Mandurah</string>
				<string>Manjimup</string>
				<string>Meckering</string>
				<string>Meekatharra</string>
				<string>Moora</string>
				<string>Mt Barker</string>
				<string>Murray</string>
				<string>Narrogin</string>
				<string>Newman</string>
				<string>Norseman</string>
				<string>Northam</string>
				<string>Port Hedland</string>
				<string>Ravensthorpe</string>
				<string>Regans Ford</string>
				<string>South Hedland</string>
				<string>Tammin</string>
				<string>Waroona</string>
				<string>Williams</string>
				<string>Wubin</string>
				<string>Wundowie</string>
				<string>York</string>
			</array>
			<key>Values</key>
			<array>
				<integer>-1</integer>
				<integer>25</integer>
				<integer>26</integer>
				<integer>27</integer>
				<integer>15</integer>
				<integer>28</integer>
				<integer>30</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>16</integer>
				<integer>3</integer>
				<integer>29</integer>
				<integer>19</integer>
				<integer>4</integer>
				<integer>33</integer>
				<integer>5</integer>
				<integer>34</integer>
				<integer>35</integer>
				<integer>31</integer>
				<integer>36</integer>
				<integer>6</integer>
				<integer>20</integer>
				<integer>37</integer>
				<integer>38</integer>
				<integer>39</integer>
				<integer>7</integer>
				<integer>40</integer>
				<integer>41</integer>
				<integer>17</integer>
				<integer>21</integer>
				<integer>22</integer>
				<integer>42</integer>
				<integer>8</integer>
				<integer>43</integer>
				<integer>9</integer>
				<integer>44</integer>
				<integer>45</integer>
				<integer>10</integer>
				<integer>18</integer>
				<integer>32</integer>
				<integer>58</integer>
				<integer>46</integer>
				<integer>47</integer>
				<integer>48</integer>
				<integer>23</integer>
				<integer>22</integer>
				<integer>49</integer>
				<integer>50</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>51</integer>
				<integer>57</integer>
				<integer>14</integer>
				<integer>53</integer>
				<integer>24</integer>
				<integer>54</integer>
				<integer>55</integer>
				<integer>59</integer>
				<integer>56</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Discounting Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Ampol</string>
			<key>Key</key>
			<string>Brand.Ampol.useDiscount</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Better Choice</string>
			<key>Key</key>
			<string>Brand.betterChoice.useDiscount</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>BOC</string>
			<key>Key</key>
			<string>Brand.boc.useDiscount</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>BP</string>
			<key>Key</key>
			<string>Brand.bp.useDiscount</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Caltex</string>
			<key>Key</key>
			<string>Brand.caltex.useDiscount</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Gull</string>
			<key>Key</key>
			<string>Brand.gull.useDiscount</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Kleenheat</string>
			<key>Key</key>
			<string>Brand.kleenheat.useDiscount</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Kwik Fuel</string>
			<key>Key</key>
			<string>Brand.kwikfuel.useDiscount</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Liberty</string>
			<key>Key</key>
			<string>Brand.liberty.useDiscount</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Mobil</string>
			<key>Key</key>
			<string>Brand.mobil.useDiscount</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Peak</string>
			<key>Key</key>
			<string>Brand.peak.useDiscount</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Shell</string>
			<key>Key</key>
			<string>Brand.Shell.useDiscount</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Caltex Woolworths</string>
			<key>Key</key>
			<string>Brand.caltexWoolworths.useDiscount</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Coles Express</string>
			<key>Key</key>
			<string>Brand.colesExpress.useDiscount</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Black &amp; White</string>
			<key>Key</key>
			<string>Brand.blackWhite.useDiscount</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Fuels West</string>
			<key>Key</key>
			<string>Brand.fuelsWest.useDiscount</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>United</string>
			<key>Key</key>
			<string>Brand.united.useDiscount</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Eagle</string>
			<key>Key</key>
			<string>Brand.eagle.useDiscount</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Fast Fuel 24/7</string>
			<key>Key</key>
			<string>Brand.fastfuel24_7.useDiscount</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Puma</string>
			<key>Key</key>
			<string>Brand.pumaEnergy.useDiscount</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Vibe</string>
			<key>Key</key>
			<string>Brand.vibe.useDiscount</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>7-Eleven</string>
			<key>Key</key>
			<string>Brand.sevenEleven.useDiscount</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>App Info</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Version</string>
			<key>Key</key>
			<string>versionNumber</string>
			<key>DefaultValue</key>
			<string>0.0</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Build</string>
			<key>Key</key>
			<string>buildNumber</string>
			<key>DefaultValue</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
